body {
  margin: 0;
}

.page-title {
  width: 100%;
  text-align: center;
  /* color: aquamarine; */
  font-weight:bold;
  font-size: 50px;
  margin-bottom: 50px;
}


.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.preview-img {
  width: 100px;
  height: 100px;
  border: 2px #aaaaaa solid;
  border-radius: 50%;
  margin-right: 20px;
}

