
.header {
  width: 100%;
  text-align: center;
  /* color: aquamarine; */
  font-weight:bold;
  font-size: 50px;
  margin: 50px 0;
}

.page-title {
  width: 100%;
  text-align: center;
  /* color: aquamarine; */
  font-weight:bold;
  font-size: 50px;
  margin-bottom: 50px;
}


.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* text-align: right; */
  /* margin: 20px 0; */
  /* padding: 10px 30px; */
}

#profile-img {
  width: 70px;
  height: 70px;
  margin: 15px 20px;
}

.profile {
  display: flex;
  justify-content: center;
}

.track-wrapper, .room-wrapper{
  /* background-color: grey; */
  box-shadow: 1px 1px 2px 1px grey;
  width: 70%;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.track-create-wrapper, .track-show-wrapper {
  width: 50%;
  font-size: 40px;
  margin: auto 0;
}

.disk {
  width: 50px;
  height: 50px;
  border: 70px solid;
  border-color: yellow;
  border-radius: 50%;
  box-shadow: 2px 2px 1px 1px #aaaaaa;
  margin-bottom: 5px;
}

.create-contents {
  text-align: center;  
}

.linkTo-createTrack {
  display: inline-block;
}

.preview-track-title {
  /* font-size: 1.5em;
  font-weight: bold; */
  font-family: "Yu Gothic";
}

.preview-track {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'Yu Mincho';
}

.preview-img {
  width: 100px;
  height: 100px;
  border: 2px #aaaaaa solid;
  border-radius: 50%;
  margin-right: 20px;
}

.room-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.room-wrapper::after {
  display: block;
  content:"";
  width: 200px;
}

.preview-room {
  position: relative;
  text-align: center;
  font-size: 50px;
  margin: 30px;
  width: 200px;
  height: 200px;
}

.preview-room:hover .cover-menu {
  opacity: 0.7;
  z-index: 1;
}

.preview-room:hover .del-icon {
  opacity: 0.5;
  z-index: 2;
}


.room-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover-menu {
  position: relative;
  opacity: 0%;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-color: grey;
  display: flex;
}

.cover-menu-link {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: rgba(100, 100, 100, 0.5); */
  background-color: seashell;
  opacity: 0.5;
  text-decoration: none;
}

.link-title {
  font-size: 25px;
}

.cover-menu-link:hover {
  /* background-color: rgba(100, 100, 100, 0.8); */
  opacity: 0.8;
}

.cover-menu-link:hover .link-title {
  color: aqua;
}

.del-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0%;
  z-index: -10;
  font-size: 0.5em;
}

.del-icon:hover {
  color: red;
  opacity: 0.8;
}

.room-title {
  text-align: center;
  font-size: 25px;
  margin: 0 0;
  font-family: 'Yu Mincho';
}
