.action-button-wrapper {
  margin: 0 5px;
}

.action-button {
  z-index: 1;
  font-family: Inter,Noto Sans JP;
  border-radius: 4px;
  border: solid 1px grey;
  box-shadow: 0.5px 0.5px 1px lightslategrey;
}

.action-button:hover {
  background-color: aqua;
}


/* スマホ以外 */
@media screen and (min-width: 481px) {

}

/* スマホ */
@media screen and (max-width: 480px) {

}