
/* アンドロイドchromeで下スクロール時のブラウザ更新を無効化 */
body {
  overscroll-behavior-y: none;
}

.obj:hover {
  /* outline : 1.5px solid blue; */
}
.hover-blue:hover {
  outline : 1.5px solid blue;
}

.is_active {
  outline : 1.5px solid blue;
}

.hidden {
  display: none;
}

/* レスポンシブ対応用 */
/* スマホ以外 */
@media screen and (min-width: 481px) {
  .for-mobile{
    display: none;
  }
  
}

/* スマホ */
@media screen and (max-width: 480px) {
  .for-pc-tablet {
    display: none;
  }

}
