#select-modal {
  position: fixed;
  left: 0;
  z-index: 9;

  /* モーダル内の要素の配置 */
  display: flex;
  align-items: center;
}

#area-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  /* background-color: rgba(35,40,50,0.85); */
  color: white;

  /* モーダル内の要素の配置 */
  display: flex;
  align-items: flex-start;
  flex-flow: column;
}



/* スマホ以外 */
@media screen and (min-width: 481px) {
  #select-modal {
    top: 70px;
    width: 470px;
    height: 85vh;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    */
    flex-flow: row;
  }

  #area-wrapper {
    width: 95%;
    padding-left: 70px;
    background-color: rgba(35,40,50,0.85);
    box-shadow: 1px 1px 2px 1px rgba(130, 130, 130, 0.6);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

}

/* スマホ */
@media screen and (max-width: 480px) {
  #select-modal {
    bottom: 45px;
    width: 100%;
    height: 60vh;
    flex-flow: column;
  }
  #area-wrapper {
    background-color: rgba(35,40,50,0.85);
    width: 92%;
    align-items: center;
    border-radius: 5px;
  }

  .padding-for-mobile {
    padding: 20px;
  }

}