
/* アンドロイドchromeで下スクロール時のブラウザ更新を無効化 */
body {
  overscroll-behavior-y: none;
}


#field {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

  /* モーダル内の要素の配置 */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#disp-modal-zone {
  position: absolute;
  /* left: 0; */
  z-index: 10;
  width: 55px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#disp-modal-wrapper {
  z-index: 1;
  background-color:#333333;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper {
  padding: 10px;
  min-width: 50px;
}
.icon-wrapper:hover {
  background-color: rgba(255,255,255,0.2);
}

#disp-img-modal-wrapper {
  color:lightseagreen;
}
#disp-movie-modal-wrapper {
  color: orangered;
}
#disp-audio-modal-wrapper {
  color: gold;
}
#disp-contents-field-setting-modal-wrapper {
  color: white;
}
#disp-media-setting-modal-wrapper {
  color: lightgray;
}

.hidden {
  display: none;
}


/* レスポンシブ対応用 */
/* スマホ以外 */
@media screen and (min-width: 481px) {
  .for-mobile{
    display: none;
  }
  #disp-modal-wrapper {
    flex-direction: column;
    padding: 8px 3px 8px 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #disp-modal-zone {
    left: 0;
    top: 30%;
  }

  
}

/* スマホ */
@media screen and (max-width: 480px) {
  .for-pc-tablet {
    display: none;
  }

  #disp-modal-zone {
    /* right: 0; */
    bottom: 0;
    width: 95%;
  }

  #disp-modal-wrapper {
    justify-content: flex-start;
    padding: 5px 25px;
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;   */
    border-radius: 5px;
    width: 80%;
    height: 50px;
    overflow-x: scroll;
  }

}
