#select-modal {
  position: fixed;
  left: 0;
  z-index: 9;

  /* モーダル内の要素の配置 */
  display: flex;
  align-items: center;
}

#area-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* background-color: rgba(35,40,50,0.85); */
  color: white;

  /* モーダル内の要素の配置 */
  display: flex;
  align-items: flex-start;
  flex-flow: column;
}



/* スマホ以外 */
@media screen and (min-width: 481px) {
  #select-modal {
    top: 60px;
    width: 470px;
    height: 85vh;  
    flex-flow: row;
  }

  #area-wrapper {
    width: 95%;
    padding-left: 70px;
    background-color: rgba(35,40,50,0.85);
    box-shadow: 1px 1px 2px 1px rgba(130, 130, 130, 0.6);
  }

}

/* スマホ */
@media screen and (max-width: 480px) {
  #select-modal {
    /* top: 80px; */
    width: 75%;
    height: 75vh;
    padding-left: 20px;
    background-color: rgba(35,40,50,0.85);
    box-shadow: 1px 1px 2px 1px rgba(130, 130, 130, 0.6);
    flex-flow: column;
  }
  /* .slide-in-enter, .slide-in-leave-to {
    transform: translateX(100vw)
  } */
}